<div class="auth-page">
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__side_logo" src="./assets/images/chivi.png" alt="logo">
    </div>
  </div>
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <h4 class="auth-page__group-title" >
        <img class="auth-page__group-logo" src="./assets/images/padbol.png" alt="padbol">
      </h4>

      <app-login-form></app-login-form>

      <p class="auth-page__footer-title">© {{todayDate | year}} {{ 'pages.auth.copyright' | translate}}.</p>
    </div>
  </div>
</div>
