<mat-tab-group>
  <mat-tab label="{{ 'pages.register_remote_controls.field_1' | translate }}">
    <app-material-tab-content [field]="1"></app-material-tab-content>
  </mat-tab>
  <mat-tab label="{{ 'pages.register_remote_controls.field_2' | translate }}">
    <app-material-tab-content [field]="2"></app-material-tab-content>
  </mat-tab>
  <mat-tab label="{{ 'pages.register_remote_controls.field_3' | translate }}">
    <app-material-tab-content [field]="3"></app-material-tab-content>
  </mat-tab>
  <mat-tab label="{{ 'pages.register_remote_controls.field_4' | translate }}">
    <app-material-tab-content [field]="4"></app-material-tab-content>
  </mat-tab>
</mat-tab-group>